body{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

.collection-f-area {
    margin-top: 80px;
}

.btn-second{
    color: #ea580c;
    font-size: 18px;
}

.btn-second:hover{
    color: #c2410c;
}

.btn-second svg{
    height: 20px;
    width: 20px;
}

.f-title h2{
    font-weight: bold;
}

.f-title p{
    font-size: 18px;
}