body{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

.collection-f-area {
    margin-top: 80px;
}

.btn-second{
    color: #ea580c;
    font-size: 18px;
}

.btn-second:hover{
    color: #c2410c;
}

.btn-second svg{
    height: 20px;
    width: 20px;
}

.f-title h2{
    font-weight: bold;
}

.f-title p{
    font-size: 18px;
}


.section-head{
    text-align: center;
    color: #fff;
}

.customer-review{
    background-color: #030712;
    padding: 100px;
}




.comment-card {
    max-width: 400px;
    border-radius: 15px;
    padding: 2rem;
    margin: 20px;
        }
.user-img {
    width: 45px;
    height: 45px;
    object-fit: cover;
        }
p.text-muted {
    text-align: justify;
}